* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

* :hover{
  background-color:black;
  margin: auto ;
}

.border {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background-color:black;
  border: solid 1px greenyellow;
  display: flex;
  justify-content: center;
  box-shadow:  red;
  border-radius: 50px;
}


.app .mainHeading h1 {
  text-align: center;
  margin-top: 5px;
}

.app h1,
h2 {
  color: black;
}



.app .ver .put {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: #1f1d1d;
  display: flex;
  justify-content: space-between;
  border: solid 1px white;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
} 

.app .ver :hover{
border-color: rgb(21, 173, 107);
padding: 3px;
}


 .app input {
  width: 100%;
  border-color: transparent;
  outline-color: #1f1d1d;
  background-color: #1f1d1d;
}



.app i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color:greenyellow;
  margin-right: 5px;
}

.app :hover{
  color: red;
}

.app .puthover :hover{
  border: solid 1px greenyellow;
}


.app .todos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.app .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  height: 2em;
  background-color: #1f1d1d;
  border: solid 1px white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
.app .todos :hover{
  border-color: green;
}

.app .todos .todo .left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app .todos .todo .left p {
  margin-left: 3px;
  font-size: medium;
  font-weight: 700;
  font-style: normal;
  color:white;
}

